[Desktop Entry]
Type=Application
Name=TightVNC
Exec=lxterminal --command "vncserver :0"
StartupNotify=false
Categories=Utility;
Icon=preferences-desktop-remote-desktop
