[Desktop Entry]
Type=Application
Name=TightVNC
Exec=lxterminal --command "vncserver :1"
StartupNotify=false
Icon=preferences-desktop-remote-desktop-symbolic
